body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.rpsgame {
    background-color: aquamarine;
    margin: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#userSelection {
    padding-top: 30px;
}


.resultsDiv {
    height: 500px;
}


.content {
    height: 30px;
    padding-top: 10px;
    text-align: center;
}

.tg  {border-collapse:collapse;border-spacing:0;width: 300px;background-color: bisque;text-align:center;}
.tg td{overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{overflow:hidden;padding:10px 5px;word-break:normal;}



#gameWinner {
    text-align: center;
    height: 20px;
}

.restartButton {
    text-align: center;
}

h1 {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}